<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="show_sql">true</property>
        <!--property name="format_sql">true</property-->
        <property name="dialect">com.enigmabridge.hibernate.dialect.SQLiteDialect</property>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.connection.autocommit">true</property>
        <property name="hibernate.hbm2ddl.import_files">import.sql</property>

        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="paperless.Tag"/>
        <mapping class="paperless.Note"/>
        <mapping class="paperless.Notebook"/>
        <mapping class="paperless.Attachment"/>
    </session-factory>
</hibernate-configuration>